@model MVCRegistrationform.SalesERPDBEntities

@{
    ViewBag.Title = "RegistrationDetails";
}
<link href="~/StyleSheet/TableStyle.css" rel="stylesheet" />

<h2>RegistrationDetails</h2>
    <table class="TFtable">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        @foreach (var item in Model.RegistrationDetails)
        {
         <tr>
            <td>@item.Name</td>
             <td>@item.Email</td>
             <td>@item.Phone</td>
             <td>@item.Address</td>
             <td>@Html.ActionLink("Delete","DeleteDetails",new {id =@item.ID})</td>
             <td>@Html.ActionLink("Edit", "EditDetails", new { id=@item.ID})</td>
        </tr>   
        }
       
        
    </table>
<div class="align">
    @Html.ActionLink("Click to add new Details","RegistrationForm")
</div>

